@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	height: 100%;

	color-scheme: light dark;
	color: #242424;
	background-color: #f0f8f1;
	background: linear-gradient(
		341deg,
		rgba(176, 244, 184, 1) 7%,
		rgba(209, 247, 214, 1) 24%,
		rgba(240, 248, 241, 1) 100%
	);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

:root::before {
	content: "";
	height: 100%;
	width: 100%;
	display: flex;
	position: absolute;
	top: 0;
	background: rgba(240, 248, 241, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

::selection {
	background: rgb(246, 131, 206);
	color: white;
}

input:autofill {
	box-shadow: 0 0 0 30px #f0f1f8 inset;
	-webkit-text-fill-color: #242424;

	-webkit-box-shadow: 0 0 0 30px #f0f1f8 inset;
	-o-box-shadow: 0 0 0 30px #f0f1f8 inset;
	-o-text-fill-color: #242424;
	-moz-box-shadow: 0 0 0 30px #f0f1f8 inset;
	-moz-text-fill-color: #242424;
}
